#header, #header-wrap, #logo img, #primary-menu ul li a, #primary-menu ul li a div {
  height: 60px;
  transition: height .4s ease, opacity .3s ease;
}

#header.dark {
  width: 100%;
}

#header.dark #primary-menu {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

#header.dark #top-bar {
  background-color: white;
}

#header {
  xmargin-bottom: 45px;
  position: absolute;
}

#header #header-wrap {
  transition: background-color 0.65s ease;
}

.text-centered {
  text-align: center;
}

.heading-block.center > span, .heading-block.title-center > span, .center .heading-block > span {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}

#content .container {
  max-width: 1050px;
}

#slider .slider-caption p.heading-hero {
  font-family: 'Quantico', sans-serif;
  font-weight: bold !important;
  font-size: 56px;
  line-height: 62px;
  margin-bottom: 5px;
}

#footer .container {
  width: inherit;
  max-width: 1280px;
}

.featherlight-content iframe {
  width: 80vw;
  height: 70vh;
}

.feature-box .button {
  background-color: transparent !important;
  border: 2px solid #DA0000;
  border-radius: 3px;
  color: #DA0000;
  text-shadow: none;
  padding: 10px 16px;
  height: auto;
  line-height: normal;
  font-size: 16px;
  letter-spacing: -0.39px;
  line-height: 20px;
  margin-top: 30px;
}

.feature-box:hover .button {
  color: white;
  background-color: #DA0000 !important;
}

#content .forInfo-link .container {
  width: auto;
  max-width: 100%;
}

.landing-video {
  margin-left: auto;
  margin-right: auto;
}

.landing-video + a {
  margin: 0 auto;
  margin-top: 30px;
  color: #DA0000 !important;
  border-color: #DA0000 !important;
  width: 40%;
}

.landing-video + a:hover {
  color: white !important;
}

.playButton-gray {
  display: none;
}

.callMobile .si-call:hover, .callMobile .si-colored.si-call {
  background-color: transparent !important;
}

.hide-on-desktop {
  display: none;
}

#content > .content-wrap, #crew {
  padding-bottom: 0px;
}

#sites .hide-on-mobile {
  padding: 50px 0;
}

.slider-caption {
  top: 38% !important;
}

.slider-caption p:first-of-type {
  margin-bottom: 10px;
  font-family: 'Quantico', sans-serif;
  font-size: 42px;
}

#instagram-photos a {
  display: inline-block;
  width: 16.6666%;
}

#instagram-photos a img {
  width: 100%;
}

#slider {
  max-height: 95vh;
}

#slider .slider-caption p.heading-hero {
  font-family: 'Quantico', sans-serif;
  font-weight: bold !important;
  line-height: auto !important;
}

#slider .slider-caption .button {
  background-color: #DA0000;
  color: white;
  border-color: #DA0000;
  margin-top: 20px;
}

#slider .slider-caption .button-video {
  background-color: transparent;
  border-color: white;
}

#slider .slider-caption .button-video i {
  font-size: 28px;
  top: 7px;
  padding-right: 5px;
}

#slider .slider-caption .button-video:hover {
  background-color: #DA0000;
}

.icon-redneck::before {
  content: " ";
  background-image: url("../images/home/Redneck-Anything-gray.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 29px;
  height: 25px;
}

.icon-redneck::before {
  background-image: url("../images/home/Redneck-Anything-gray.svg");
}

.icon-redneck:hover::after {
  xbackground-image: url("../images/home/Redneck-Anything.svg");
}

.fbox-effect:hover .icon-redneck::before {
  background-image: url("../images/home/Redneck-Anything.svg");
}

.buttonIcons-grid .col_one_fourth h3 span {
  font-family: 'Karla', sans-serif;
}

.swiper-slide {
  background-position: 50% 60% !important;
  background-size: 110% !important;
}

#browse-market {
  display: none;
}

.team .team-desc > .social-icon, .heading-block > .social-icon, .socialIconsFooter > .social-icon {
  padding: 0px !important;
  position: relative;
}

.team .team-desc > .social-icon i, .heading-block > .social-icon i, .socialIconsFooter > .social-icon i {
  position: absolute;
  width: 100%;
  margin: 0 !important;
  transition: top 0.3s ease;
}

.team .team-desc > .social-icon i:first-of-type, .heading-block > .social-icon i:first-of-type, .socialIconsFooter > .social-icon i:first-of-type {
  top: 0;
}

.team .team-desc > .social-icon i:last-of-type, .heading-block > .social-icon i:last-of-type, .socialIconsFooter > .social-icon i:last-of-type {
  top: 30px;
}

.team .team-desc > .social-icon:hover i:first-of-type, .heading-block > .social-icon:hover i:first-of-type, .socialIconsFooter > .social-icon:hover i:first-of-type {
  top: -30px;
}

.team .team-desc > .social-icon:hover i:last-of-type, .heading-block > .social-icon:hover i:last-of-type, .socialIconsFooter > .social-icon:hover i:last-of-type {
  top: 0;
}

#advertise-section a {
  color: #D9534E;
}

.sign-up {
  padding-bottom: 0;
}

#content .promoVideo-section {
  text-align: center;
  padding: 72px 0;
  background-color: #F9F9F9;
}

#content .promoVideo-section .col-md-6 {
  padding: 0;
}

#content .promoVideo-section .container {
  margin: 0 auto;
  max-width: 1150px;
}

#content .promoVideo-section .container h2 {
  margin-bottom: 16px;
  padding-top: 35px;
}

#content .promoVideo-section .container span {
  font-size: 22px;
  color: #777777;
  letter-spacing: -0.54px;
  line-height: 33px;
  position: relative;
  padding-bottom: 39px;
}

#content .promoVideo-section .container span:after {
  width: 50px;
  height: 2px;
  background-color: #333333;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
}

#content .promoVideo-section .container .playButton-RedWhite {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: opacity 0.4s ease;
}

#content .promoVideo-section .container .playButton-RedWhite img {
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

#content .promoVideo-section .container .playButton-RedWhite:hover {
  opacity: 0.75;
}

#content .promoVideo-section .container .playButton-RedWhite:hover img {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}

/* RESPONSIVE */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1000px) {
  .swiper-slide {
    background-position: 15% 10% !important;
    background-size: 220% !important;
    background-attachment: inherit !important;
  }
  #content .promoVideo-section .container h2 {
    padding-top: 20px;
  }
}

@media (max-width: 991px) {
  .buttonIcons-grid .ipad-margin h3 {
    margin-bottom: 25px;
  }
  #content .promoVideo-section .container > div:first-of-type {
    margin-bottom: 20px;
  }
  #content .promoVideo-section .container .playButton-RedWhite {
    left: 50%;
  }
  #content .promoVideo-section .container span {
    xdisplay: none;
    font-size: 14px;
    line-height: 20px;
    color: #030303;
  }
  #content .promoVideo-section {
    padding: 40px 0;
  }
  #content .promoVideo-section .container h2 {
    padding-top: 0;
  }
  #header #top-bar {
    display: none;
  }
  #header #logo {
    background-color: #444;
    z-index: 1;
    height: 65px;
  }
  #header #logo img {
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
  }
  #header #primary-menu {
    z-index: 100;
    position: absolute;
    top: 75px;
    width: 100%;
    background-color: #444;
    padding: 0 20px;
  }
  #header #primary-menu ul.show {
    z-index: 100;
    display: block;
  }
  #header #header-wrap .container {
    width: 100%;
    padding: 0px;
  }
  #header #primary-menu-trigger {
    top: 8px;
    left: 10px;
    z-index: 10;
  }
}

@media (max-width: 768px) {
  .swiper-slide {
    background-position: 15% 0% !important;
    background-size: 220% !important;
    background-attachment: inherit !important;
  }
  .social-icon.si-small {
    width: 30px;
    height: 30px;
  }
  .buttonIcons-grid .heading-block.center > span {
    font-size: 21px;
  }
  .forInfo-link {
    font-size: 19px !important;
  }
  .hide-on-ipad {
    display: none;
  }
}

@media (max-width: 767px) {
  .buttonIcons-grid .ipad-margin h3 {
    margin-bottom: 0;
  }
  .hide-on-mobile {
    display: none;
  }
  .hide-on-desktop {
    display: inherit;
  }
  .sign-up {
    padding: 0 !important;
    padding-bottom: 50px !important;
  }
  #footer .col_last {
    margin-bottom: 0 !important;
  }
  #header-wrap .container {
    width: 100% !important;
  }
  #logo, #logo img {
    height: 55px;
  }
  #primary-menu-trigger {
    top: 2px;
  }
  .swiper_wrapper:not(.force-full-screen), .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide, .ei-slider {
    height: 244px !important;
  }
  .content-wrap, .section {
    padding: 50px 0;
  }
  #slider .slider-caption {
    top: 15% !important;
  }
  #slider .slider-caption p {
    display: block !important;
    font-weight: 300;
    font-size: 19px;
    letter-spacing: -0.46px;
    font-family: 'Karla', sans-serif;
    margin-bottom: 0;
  }
  #slider .slider-caption p.heading-hero {
    font-family: 'Quantico', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
  }
  #slider .slider-caption .button {
    xdisplay: none !important;
    margin-top: 20px;
    background-color: #DA0000;
    border-color: #DA0000 !important;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    padding: 0 18px;
    font-size: 16px;
    height: 44px;
    line-height: 40px;
  }
  #slider .slider-caption .button.button-video {
    background-color: transparent;
    border-color: white !important;
  }
  #slider .slider-caption .button:hover {
    opacity: 0.8;
  }
  #slider .swiper-slide {
    background-position: 10% 18% !important;
    background-size: 140% !important;
    background-attachment: inherit !important;
  }
  #slider .container {
    width: 100% !important;
  }
  .playButton-white {
    display: inline-block;
    transition: opacity 0.4s ease;
    cursor: pointer;
    margin-top: 25px;
  }
  .playButton-white:hover {
    opacity: 0.8;
  }
  #content .container {
    width: 100% !important;
    padding-left: 15px;
    padding-right: 15px;
  }
  .shop-our-gear {
    margin-bottom: 40px;
  }
  .shop-our-gear::after {
    display: none;
  }
  .shop-our-gear h2 {
    font-size: 22px;
    letter-spacing: -0.54px;
    padding-top: 7px;
  }
  .shop-our-gear h2 i:first-of-type {
    margin-left: 5px;
  }
  .shop-our-gear h2 i:last-of-type {
    margin-right: 3px;
  }
  .shop-our-gear h2 + span {
    font-size: 14px;
    color: #030303 !important;
    letter-spacing: -0.34px;
    line-height: 20px;
  }
  .buttonIcons-grid {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-bottom: 26px;
  }
  .buttonIcons-grid .col_one_fourth {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 50%;
    margin-bottom: 24px !important;
  }
  .buttonIcons-grid .col_one_fourth h3 {
    font-size: 14px;
    color: #030303;
    letter-spacing: -0.34px;
    padding: 0 15px;
  }
  .buttonIcons-grid .col_one_fourth h3 span {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    color: #030303;
    letter-spacing: -0.34px;
    line-height: 20px;
  }
  .buttonIcons-grid .col_one_fourth .fbox-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
  }
  .buttonIcons-grid .col_one_fourth .fbox-icon i {
    font-size: 38px;
    line-height: 78px !important;
  }
  .buttonIcons-grid .col_one_fourth .feature-box .icon-redneck::before {
    background-image: url("../images/home/Redneck-Anything-gray.svg");
  }
  .buttonIcons-grid .col_one_fourth .feature-box:hover .icon-redneck::before {
    background-image: url("../images/home/Redneck-Anything.svg");
  }
  #builds h2 {
    font-size: 22px;
    color: #030303;
    letter-spacing: -0.54px;
  }
  #builds span {
    font-size: 14px;
    color: #030303;
    letter-spacing: -0.34px;
    line-height: 20px;
  }
  #portfolio .portfolio-item {
    width: 50% !important;
    height: 123px !important;
  }
  #portfolio .portfolio-item .portfolio-overlay a {
    top: 40%;
    width: 30px !important;
    height: 30px !important;
    font-size: 14px;
    line-height: 30px;
  }
  #portfolio .portfolio-item .portfolio-desc {
    padding: 5px 10px;
    height: 30px;
  }
  #portfolio .portfolio-item .portfolio-desc h3 {
    font-size: 14px;
  }
  #portfolio .portfolio-item .portfolio-desc span {
    display: none;
  }
  #browse-market {
    display: inherit;
    padding: 50px 0;
    text-align: center;
  }
  #browse-market h3 {
    font-size: 20px;
    color: #333333;
    letter-spacing: -0.49px;
    padding: 0 5px;
  }
  #browse-market .button {
    background-color: #333333;
    border-radius: 3px;
    width: 46%;
    margin: 0 2%;
    padding: 0;
  }
  #tv-show h2 {
    font-size: 22px;
    color: #030303;
    letter-spacing: -0.54px;
  }
  #tv-show span {
    font-size: 14px;
    color: #030303;
    letter-spacing: -0.34px;
    line-height: 20px;
  }
  #tv-show .heading-block:after {
    margin-top: 20px;
    width: 60px;
  }
  #tv-show .button {
    width: 100%;
    text-align: center;
  }
  #tv-show .col_two_fifth {
    margin-bottom: 0px !important;
  }
  #tv-show .col_three_fifth {
    margin-top: 20px !important;
  }
  #tv-show .landing-video {
    top: 0;
    width: 100%;
    height: auto;
    margin: 0;
    xmargin-bottom: 20px;
  }
  #tv-show ul {
    display: none;
  }
  #crew .heading-block h2 {
    font-size: 22px;
    color: #030303;
    letter-spacing: -0.54px;
  }
  #crew .heading-block h2 + span {
    font-size: 14px;
    color: #030303;
    letter-spacing: -0.34px;
    line-height: 20px;
  }
  #crew .heading-block h3 {
    font-size: 22px;
    color: #030303;
    letter-spacing: -0.54px;
  }
  #crew .heading-block h3 + span {
    font-size: 14px;
    color: #030303;
    letter-spacing: -0.34px;
    line-height: 20px;
  }
  .social-grids {
    margin-bottom: 50px !important;
  }
  .social-grids ul {
    display: none;
  }
  .social-grids .col-md-4 {
    height: auto !important;
    padding: 20px;
  }
  .social-grids h3 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .social-grids .bgicon {
    bottom: -50px;
    right: -30px;
    font-size: 140px;
    color: rgba(0, 0, 0, 0.1);
  }
  #footer .container {
    width: 100% !important;
  }
  #footer .footer-widgets-wrap {
    padding: 20px 0;
  }
  #footer .footer-logo {
    margin-bottom: 20px;
  }
  #footer .social-icon.si-small {
    width: 26px;
    height: 26px;
    font-size: 11px;
    line-height: 25px !important;
  }
  #footer .socialIconsFooter {
    position: relative;
    margin-top: 30px;
  }
}

@media (max-width: 425px) {
  .buttonIcons-grid .heading-block.center > span {
    font-size: 14px;
  }
  #content .promoVideo-section .container .playButton-RedWhite img {
    max-width: 100px;
  }
  .buttonIcons-grid .ipad-margin h3 {
    margin-bottom: 0;
  }
  #slider .slider-caption .button {
    font-size: 16px;
    padding: 0 11px;
    margin-top: 15px;
    margin-left: 2px;
    margin-right: 2px;
  }
  #slider .slider-caption .button i {
    font-size: 18px;
    top: 4px;
    padding-right: 0px;
  }
  #portfolio .portfolio-item {
    width: 50% !important;
    height: 125px !important;
  }
  #slider .swiper-slide {
    background-position: 10% 18% !important;
    background-size: 160% !important;
    background-attachment: inherit !important;
  }
}

@media (max-width: 375px) {
  #portfolio .portfolio-item {
    width: 50% !important;
    height: 110px !important;
  }
  #browse-market .button {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  #portfolio .portfolio-item {
    width: 50% !important;
    height: 95px !important;
  }
}

.slick-arrow {
  position: absolute;
  top: 0;
  width: 35px;
  height: 100%;
  color: transparent;
  border: none;
  xopacity: 0.4;
  xtransition: opacity 0.3s ease;
  z-index: 999999;
}

.slick-arrow:before {
  width: 100%;
  height: 100%;
  color: black;
  line-height: 20px;
  position: absolute;
}

.slick-arrow:hover {
  xopacity: 0.8;
  xtransition: opacity 0.3s ease;
}

.slick-arrow.slick-prev {
  left: 0;
  xtransform: translateX(-100%);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0.8+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccffffff',GradientType=1 );
  /* IE6-9 */
}

.slick-arrow.slick-next {
  right: 0px;
  xtransform: translateX(100%);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.8+0,1+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
}

@media (max-width: 767px) {
  .slick-slider .slick-slide {
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 425px) {
  .slick-arrow.slick-prev {
    left: 0px;
  }
  .slick-arrow.slick-next {
    right: 0px;
  }
}
