$red: #DA0000;

.playButton-gray {
  display: none;
}

.hide-on-desktop {
  display: none;
}

#content > .content-wrap, #crew {
  padding-bottom: 0px;
}

.slider-caption  {
  top: 35% !important;
  transition: translateX(-50%);
  p:first-of-type {
    margin-bottom: 10px;
    font-family: 'Quantico', sans-serif;
    font-size: 42px;
  }

}

#slider  {
  .slider-caption {
    p {
      &.heading-hero {
        font-family: 'Quantico', sans-serif;
        font-weight: bold !important;
      }
    }
  }
}

.icon-redneck::before {
  content: " ";
  background-image: url('../images/home/Redneck-Anything-gray.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 29px;
  height: 25px;
}
.icon-redneck {
  &::before {
    background-image: url('../images/home/Redneck-Anything-gray.svg');
  }
  &:hover::after {
    xbackground-image: url('../images/home/Redneck-Anything.svg');
  }
}
.fbox-effect:hover {
  .icon-redneck::before {
    background-image: url('../images/home/Redneck-Anything.svg');
  }
}
.buttonIcons-grid {
  .col_one_fourth {
    h3 {
      span {
        font-family: 'Karla', sans-serif;
      }
    }
  }
}

#browse-market {
  display: none;
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .swiper-slide {
    background-position: 10% 18% !important;
    background-size: 165% !important;
    background-attachment: inherit !important;
  }
}



@media (max-width: 767px) {


  .hide-on-mobile {
    display: none;
  }

  .hide-on-desktop {
    display: inherit;
  }

  .sign-up {
    padding: 0 !important;
    padding-bottom: 50px !important;
  }

  #header-wrap {
    .container {
      width: 100% !important;
    }
  }
  #logo, #logo img {
    height: 55px;
  }
  #primary-menu-trigger {
    top: 2px;
  }

  .swiper_wrapper:not(.force-full-screen), .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide, .ei-slider {
    height: 244px !important;
  }

  .content-wrap, .section {
    padding: 50px 0;
  }

  #slider  {
    .slider-caption {
      top:15% !important;
      p {
        display: block !important;
        font-weight: 300;
        font-size: 19px;
        letter-spacing: -0.46px;
        font-family: 'Karla', sans-serif;
        margin-bottom: 0;
        &.heading-hero {
          font-family: 'Quantico', sans-serif;
          font-size: 22px;
          font-weight: bold;
        }
      }
      .button {
        margin-top: 20px;
        background-color: $red;
        border-color: $red !important;
        font-family: 'Karla', sans-serif;
        font-weight: 700;
        padding: 0 18px;
        font-size: 16px;
        height: 44px;
        line-height: 40px;
        &:hover {
          opacity: 0.8;
        }
      }

    }

    .swiper-slide {
      background-position: 10% 18% !important;
      background-size: 140% !important;
      background-attachment: inherit !important;

    }

    .container {
      width: 100% !important;
    }


  }
  .playButton-gray {
    display: inline-block;
    position: absolute;
    z-index: 9999999999999999999999;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity 0.6s ease;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }


  #content {
    .container {
      width: 100% !important;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .shop-our-gear{
    margin-bottom: 40px;
    &::after {
      display: none;
    }

    h2 {
      font-size: 22px;
      letter-spacing: -0.54px;
      padding-top: 7px;
      i {
        &:first-of-type {
          margin-left: 5px;
        }
        &:last-of-type {
          margin-right: 3px;
        }
      }
    }
    h2 + span {
      font-size: 14px;
      color: #030303 !important;
      letter-spacing: -0.34px;
      line-height: 20px;
    }
  }
  .buttonIcons-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 26px;
    .col_one_fourth {
      flex-grow: 1;
      width: 50%;
      margin-bottom: 24px !important;
      h3 {
        font-size: 14px;
        color: #030303;
        letter-spacing: -0.34px;
        padding: 0 15px;
        span {
          font-family: 'Karla', sans-serif;
          font-size: 14px;
          color: #030303;
          letter-spacing: -0.34px;
          line-height: 20px;
        }
      }

      .fbox-icon {
        width: 80px;
        height: 80px;
        margin: 0 auto 15px;
        i {
          background-color: #333333;
          color: #fff;
          font-size: 38px;
          line-height: 78px !important;
        }
        .icon-redneck {
          &::before {
            background-image: url('../images/home/Redneck-Anything.svg');
          }
          &:hover::before {
            background-image: url('../images/home/Redneck-Anything.svg');
          }
        }
      }
    }
  }

  #builds {
    h2 {
      font-size: 22px;
      color: #030303;
      letter-spacing: -0.54px;
    }
    span {
      font-size: 14px;
      color: #030303;
      letter-spacing: -0.34px;
      line-height: 20px;
    }
  }

  #portfolio {

    .portfolio-item {
      width: 50% !important;
      height: 123px !important;
      .portfolio-overlay a {
        top: 40%;
        width: 30px !important;
        height: 30px !important;
        font-size: 14px;
        line-height: 30px;
      }
      .portfolio-desc {
        padding: 5px 10px;
        height: 30px;
        h3 {
          font-size: 14px;
        }
        span {
          display: none;
        }
      }
    }
  }

  #browse-market {
    display: inherit;
    padding: 50px 0;
    text-align: center;
    h3 {
      font-size: 20px;
      color: #333333;
      letter-spacing: -0.49px;
      padding: 0 5px;
    }
    .button {
      background-color: #333333;
      border-radius: 3px;
      width: 46%;
      margin: 0 2%;
      padding: 0;
    }
  }

  #tv-show {
    h2 {
      font-size: 22px;
      color: #030303;
      letter-spacing: -0.54px;
    }
    span {
      font-size: 14px;
      color: #030303;
      letter-spacing: -0.34px;
      line-height: 20px;
    }
    .heading-block:after {
      margin-top: 20px;
      width: 60px;
    }
    .button {
      width: 100%;
      text-align: center;
    }
    .col_two_fifth {
      margin-bottom: 0px !important;
    }
    .col_three_fifth {
      margin-top: 20px !important;
    }
    .landing-video {
      top: 0;
      width: 100%;
      height: auto;
      margin: 0;
      margin-bottom: 20px;
    }
    ul {
      display: none;
    }
  }

  #crew {
    .heading-block {
      h2 {
        font-size: 22px;
        color: #030303;
        letter-spacing: -0.54px;
      }

      h2 + span {
        font-size: 14px;
        color: #030303;
        letter-spacing: -0.34px;
        line-height: 20px;
      }
      h3 {
        font-size: 22px;
        color: #030303;
        letter-spacing: -0.54px;
      }
      h3 + span {
        font-size: 14px;
        color: #030303;
        letter-spacing: -0.34px;
        line-height: 20px;
      }
    }
  }
  .social-grids {
    margin-bottom: 50px !important;
    ul {
      display: none;
    }
    .col-md-4 {
      height: auto !important;
      padding: 20px;
    }
    h3 {
      font-size: 16px;
      margin-bottom: 15px;
    }
    .bgicon {
      bottom: -50px;
      right: -30px;
      font-size: 140px;
      color: rgba(0,0,0,0.1);
    }
  }

  #footer {
    .container {
      width: 100% !important;
    }

    .footer-widgets-wrap {
      padding: 20px 0;
    }
    .footer-logo {
      margin-bottom: 20px;
    }
    .social-icon.si-small {
      width: 26px;
      height: 26px;
      font-size: 11px;
      line-height: 25px !important;
    }
    .socialIconsFooter {
      position: relative;
      margin-top: 30px;
    }
  }
}

@media (max-width: 425px) {
  #portfolio {
    .portfolio-item {
      width: 50% !important;
      height: 125px !important;
    }
  }
  .swiper-slide {
    background-position: 10% 18% !important;
    background-size: 140% !important;
    background-attachment: inherit !important;

  }

}

@media (max-width: 375px) {
  #portfolio {
    .portfolio-item {
      width: 50% !important;
      height: 110px !important;
    }
  }
  #browse-market {

    .button {
      font-size: 12px;
    }
  }

}

@media (max-width: 320px) {
  #portfolio {
    .portfolio-item {
      width: 50% !important;
      height: 95px !important;
    }
  }

}


// SLIDER


.slick-arrow {
	position: absolute;
	top: 24%;
	z-index: 10;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	color: transparent;
	border: none;
	opacity: 0.4;
	transition: opacity 0.3s ease;
	background-size: cover;
  background-color: transparent;

  display: inline-block;
  font-family: 'font-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 26px;
  &:before {
    width: 100%;
    height: 100%;
    color: black;

    line-height: 20px;
    position: absolute;
  }
}

.slick-arrow:hover {
	opacity: 0.8;
	transition: opacity 0.3s ease;
}

.slick-arrow.slick-prev {
	left: -10px;
	transform: translateX(-100%);
	//background-image: url('images/modules/testimonial/prev.png');
  &:before {
    content: "\e7a4";
    left: -2px;
    top: 4px;
  }

}

.slick-arrow.slick-next {
	right: -10px;
	transform: translateX(100%);
	//background-image: url('images/modules/testimonial/next.png');
  &:before {
    content: "\e7a5";
    left: 2px;
    top: 4px;
  }

}

@media (max-width: 767px) {
	.slick-slider {
		margin: 0 40px;
	}
}

@media (max-width: 425px) {
	.slick-slider {
		margin: 0 20px;
	}
	.slick-arrow {
		top: 19%;
		width: 25px;
		height: 25px;
	}
	.slick-arrow.slick-prev {
		left: 0px;
	}
	.slick-arrow.slick-next {
		right: 0px;
	}
}
