$red: #DA0000;

@keyframes FadeOutIn {
  0%   { opacity: 1; }
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes FadeOutIn {
  0%   { opacity: 1; }
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#header {
  // &.sticky-header #logo img {
  //   animation: FadeOutIn 3s;
  //   -webkit-animation: FadeOutIn 3s;
  // }
  &.sticky-header {
    #logo img {
      animation: FadeOutIn 1s;
      -webkit-animation: FadeOutIn 1s;
    }
  }

  // &.dark {
  //   #logo img {
  //     animation: FadeOutIn 1s;
  //     -webkit-animation: FadeOutIn 1s;
  //   }
  // }

}
.text-centered {
  text-align: center;
}
.heading-block.center > span, .heading-block.title-center > span, .center .heading-block > span {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

#content .container {
  max-width: 1050px;
}

#slider .slider-caption p.heading-hero {
    font-family: 'Quantico', sans-serif;
    font-weight: bold !important;
    font-size: 56px;
    line-height: 62px;
    margin-bottom: 5px;
}


#footer .container {
  width: inherit;
  max-width: 1280px;
}

.featherlight-content iframe{
  width: 80vw;
  height: 70vh;
}
.feature-box {
  .button {
    background-color: transparent !important;
    border: 2px solid $red;
    border-radius: 3px;
    color: $red;
    text-shadow: none;
    padding: 10px 16px;
    height: auto;
    line-height: normal;
    font-size: 16px;
    letter-spacing: -0.39px;
    line-height: 20px;
    margin-top: 30px;

  }
  &:hover {
    .button {
      color: white;
      background-color: $red !important;
    }
  }
}

#content .forInfo-link {
  .container {
    width: auto;
    max-width: 100%;;
  }

}

.landing-video {
  margin-left: auto;
  margin-right: auto;
}

.landing-video + a {
  margin: 0 auto;
  margin-top: 30px;
  color: $red !important;
  border-color: $red !important;
  width: 40%;
  &:hover {
    color: white !important;
  }
}

#tv-show {

}

.playButton-gray {
  display: none;
}
.callMobile {
  .si-call:hover, .si-colored.si-call {
      background-color: transparent !important;
  }
}

.hide-on-desktop {
  display: none;
}

#content > .content-wrap, #crew {
  padding-bottom: 0px;
}

#sites .hide-on-mobile {
  padding: 50px 0;
}

.slider-caption  {
  top: 30% !important;
  p:first-of-type {
    margin-bottom: 10px;
    font-family: 'Quantico', sans-serif;
    font-size: 42px;
  }

}

#slider  {
  max-height: 75vh;
  .slider-caption {
    p {
      &.heading-hero {
        font-family: 'Quantico', sans-serif;
        font-weight: bold !important;
        line-height: auto !important;
      }
    }
    .button {
      background-color: $red;
      color: white;
      border-color: $red;
      margin-top: 20px;
    }
    .button-video {
      background-color: transparent;
      border-color: white;
      i {
        font-size: 28px;
        top: 7px;
        padding-right: 5px;
      }
      &:hover {
        background-color: $red;
      }
    }
  }
}

.icon-redneck::before {
  content: " ";
  background-image: url('../images/home/Redneck-Anything-gray.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 29px;
  height: 25px;
}
.icon-redneck {
  &::before {
    background-image: url('../images/home/Redneck-Anything-gray.svg');
  }
  &:hover::after {
    xbackground-image: url('../images/home/Redneck-Anything.svg');
  }
}
.fbox-effect:hover {
  .icon-redneck::before {
    background-image: url('../images/home/Redneck-Anything.svg');
  }
}
.buttonIcons-grid {
  .col_one_fourth {
    h3 {
      span {
        font-family: 'Karla', sans-serif;
      }
    }
  }
}

.swiper-slide {
  background-position: 10% 0% !important;
  background-size: 160% !important;
}

#browse-market {
  display: none;
}

.team .team-desc > .social-icon, .heading-block > .social-icon, .socialIconsFooter  > .social-icon{
  padding: 0px !important;
  position: relative;
  i {
    position: absolute;
    width: 100%;
    margin: 0 !important;
    transition: top 0.3s ease;
    &:first-of-type {
      top: 0;
    }
    &:last-of-type {
      top: 30px;
    }
  }
  &:hover {
    i {
      &:first-of-type {
        top: -30px;
      }
      &:last-of-type {
        top: 0;
      }
    }
  }

}

#advertise {
  a {
    color: #D9534E;
  }
}

.sign-up {
  padding-bottom: 0;
}


/* RESPONSIVE */

@media (max-width: 1000px) {
  .swiper-slide {
    background-position: 15% 10% !important;
    background-size: 220% !important;
    background-attachment: inherit !important;
  }
}

@media (max-width: 991px) {
  .buttonIcons-grid .ipad-margin h3 {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .swiper-slide {
    background-position: 15% 0% !important;
    background-size: 220% !important;
    background-attachment: inherit !important;
  }
  .social-icon.si-small {
    width: 30px;
    height: 30px;
  }
  .buttonIcons-grid {
    .heading-block.center > span {
      font-size: 21px;
    }
  }
  .forInfo-link {
    font-size: 19px !important;
  }
  .hide-on-ipad {
    display: none;
  }

}



@media (max-width: 767px) {

  .buttonIcons-grid .ipad-margin h3 {
    margin-bottom: 0;
  }

  .hide-on-mobile {
    display: none;
  }

  .hide-on-desktop {
    display: inherit;
  }

  .sign-up {
    padding: 0 !important;
    padding-bottom: 50px !important;
  }

  #footer .col_last {
    margin-bottom: 0 !important;
  }

  #header-wrap {
    .container {
      width: 100% !important;
    }
  }
  #logo, #logo img {
    height: 55px;
  }
  #primary-menu-trigger {
    top: 2px;
  }

  .swiper_wrapper:not(.force-full-screen), .swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide, .ei-slider {
    height: 244px !important;
  }

  .content-wrap, .section {
    padding: 50px 0;
  }

  #slider  {
    .slider-caption {
      top:15% !important;
      p {
        display: block !important;
        font-weight: 300;
        font-size: 19px;
        letter-spacing: -0.46px;
        font-family: 'Karla', sans-serif;
        margin-bottom: 0;
        &.heading-hero {
          font-family: 'Quantico', sans-serif;
          font-size: 22px;
          font-weight: bold;
          line-height: normal;
        }
      }
      .button {
        xdisplay: none !important;
        margin-top: 20px;
        background-color: $red;
        border-color: $red !important;
        font-family: 'Karla', sans-serif;
        font-weight: 700;
        padding: 0 18px;
        font-size: 16px;
        height: 44px;
        line-height: 40px;
        &.button-video {
          background-color: transparent;
          border-color: white !important;
        }
        &:hover {
          opacity: 0.8;
        }
      }

    }

    .swiper-slide {
      background-position: 10% 18% !important;
      background-size: 140% !important;
      background-attachment: inherit !important;

    }

    .container {
      width: 100% !important;
    }


  }
  .playButton-white {
    display: inline-block;
    transition: opacity 0.4s ease;
    cursor: pointer;
    margin-top: 25px;
    &:hover {
      opacity: 0.8;
    }
  }


  #content {
    .container {
      width: 100% !important;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .shop-our-gear{
    margin-bottom: 40px;
    &::after {
      display: none;
    }

    h2 {
      font-size: 22px;
      letter-spacing: -0.54px;
      padding-top: 7px;
      i {
        &:first-of-type {
          margin-left: 5px;
        }
        &:last-of-type {
          margin-right: 3px;
        }
      }
    }
    h2 + span {
      font-size: 14px;
      color: #030303 !important;
      letter-spacing: -0.34px;
      line-height: 20px;
    }
  }
  .buttonIcons-grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 26px;
    .col_one_fourth {
      flex-grow: 1;
      width: 50%;
      margin-bottom: 24px !important;
      h3 {
        font-size: 14px;
        color: #030303;
        letter-spacing: -0.34px;
        padding: 0 15px;
        span {
          font-family: 'Karla', sans-serif;
          font-size: 14px;
          color: #030303;
          letter-spacing: -0.34px;
          line-height: 20px;
        }
      }

      .fbox-icon {
        width: 80px;
        height: 80px;
        margin: 0 auto 15px;
        i {
          font-size: 38px;
          line-height: 78px !important;
        }

      }
      .feature-box {
        .icon-redneck {
          &::before {
            background-image: url('../images/home/Redneck-Anything-gray.svg');
          }
        }
        &:hover {
          .icon-redneck {
            &::before {
              background-image: url('../images/home/Redneck-Anything.svg');
            }
          }
        }
      }
    }
  }

  #builds {
    h2 {
      font-size: 22px;
      color: #030303;
      letter-spacing: -0.54px;
    }
    span {
      font-size: 14px;
      color: #030303;
      letter-spacing: -0.34px;
      line-height: 20px;
    }
  }

  #portfolio {

    .portfolio-item {
      width: 50% !important;
      height: 123px !important;
      .portfolio-overlay a {
        top: 40%;
        width: 30px !important;
        height: 30px !important;
        font-size: 14px;
        line-height: 30px;
      }
      .portfolio-desc {
        padding: 5px 10px;
        height: 30px;
        h3 {
          font-size: 14px;
        }
        span {
          display: none;
        }
      }
    }
  }

  #browse-market {
    display: inherit;
    padding: 50px 0;
    text-align: center;
    h3 {
      font-size: 20px;
      color: #333333;
      letter-spacing: -0.49px;
      padding: 0 5px;
    }
    .button {
      background-color: #333333;
      border-radius: 3px;
      width: 46%;
      margin: 0 2%;
      padding: 0;
    }
  }

  #tv-show {
    h2 {
      font-size: 22px;
      color: #030303;
      letter-spacing: -0.54px;
    }
    span {
      font-size: 14px;
      color: #030303;
      letter-spacing: -0.34px;
      line-height: 20px;
    }
    .heading-block:after {
      margin-top: 20px;
      width: 60px;
    }
    .button {
      width: 100%;
      text-align: center;
    }
    .col_two_fifth {
      margin-bottom: 0px !important;
    }
    .col_three_fifth {
      margin-top: 20px !important;
    }
    .landing-video {
      top: 0;
      width: 100%;
      height: auto;
      margin: 0;
      xmargin-bottom: 20px;
    }
    ul {
      display: none;
    }
  }

  #crew {
    .heading-block {
      h2 {
        font-size: 22px;
        color: #030303;
        letter-spacing: -0.54px;
      }

      h2 + span {
        font-size: 14px;
        color: #030303;
        letter-spacing: -0.34px;
        line-height: 20px;
      }
      h3 {
        font-size: 22px;
        color: #030303;
        letter-spacing: -0.54px;
      }
      h3 + span {
        font-size: 14px;
        color: #030303;
        letter-spacing: -0.34px;
        line-height: 20px;
      }
    }
  }
  .social-grids {
    margin-bottom: 50px !important;
    ul {
      display: none;
    }
    .col-md-4 {
      height: auto !important;
      padding: 20px;
    }
    h3 {
      font-size: 16px;
      margin-bottom: 15px;
    }
    .bgicon {
      bottom: -50px;
      right: -30px;
      font-size: 140px;
      color: rgba(0,0,0,0.1);
    }
  }

  #footer {
    .container {
      width: 100% !important;
    }

    .footer-widgets-wrap {
      padding: 20px 0;
    }
    .footer-logo {
      margin-bottom: 20px;
    }
    .social-icon.si-small {
      width: 26px;
      height: 26px;
      font-size: 11px;
      line-height: 25px !important;
    }
    .socialIconsFooter {
      position: relative;
      margin-top: 30px;
    }
  }
}

@media (max-width: 425px) {
  .buttonIcons-grid .heading-block.center > span {
    font-size: 14px;
  }

  .buttonIcons-grid .ipad-margin h3 {
    margin-bottom: 0;
  }

  #slider .slider-caption {
    .button {
      font-size: 16px;
      padding: 0 11px;
      margin-top: 15px;
      margin-left: 2px;
      margin-right: 2px;
      i {
        font-size: 18px;
        top: 4px;
        padding-right: 0px;
      }
    }
  }
  #portfolio {
    .portfolio-item {
      width: 50% !important;
      height: 125px !important;
    }
  }
  #slider .swiper-slide {
    background-position: 10% 18% !important;
    background-size: 160% !important;
    background-attachment: inherit !important;

  }

}

@media (max-width: 375px) {
  #portfolio {
    .portfolio-item {
      width: 50% !important;
      height: 110px !important;
    }
  }
  #browse-market {

    .button {
      font-size: 12px;
    }
  }

}

@media (max-width: 320px) {
  #portfolio {
    .portfolio-item {
      width: 50% !important;
      height: 95px !important;
    }
  }

}


// SLIDER


.slick-arrow {
	position: absolute;
	top: 0;
	width: 35px;
	height: 100%;
	color: transparent;
	border: none;
	xopacity: 0.4;
	xtransition: opacity 0.3s ease;
  z-index: 999999;




  &:before {
    width: 100%;
    height: 100%;
    color: black;

    line-height: 20px;
    position: absolute;
  }
}

.slick-arrow:hover {
	xopacity: 0.8;
	xtransition: opacity 0.3s ease;
}

.slick-arrow.slick-prev {
	left: 0;
	xtransform: translateX(-100%);
  //background-image: url('../images/home/white-gradient-slide.png');
	//background-image: url('images/modules/testimonial/prev.png');

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0.8+100 */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccffffff',GradientType=1 ); /* IE6-9 */



  &:before {
  }

}

.slick-arrow.slick-next {
	right: 0px;
	xtransform: translateX(100%);
	//background-image: url('images/modules/testimonial/next.png');
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.8+0,1+100 */
background: -moz-linear-gradient(left,  rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */


  &:before {

  }

}

@media (max-width: 767px) {
	.slick-slider {
    .slick-slide {
      padding-left: 7px;
      padding-right: 7px;
    }
	}
}

@media (max-width: 425px) {
	.slick-slider {

	}
	.slick-arrow {


	}
	.slick-arrow.slick-prev {
		left: 0px;
	}
	.slick-arrow.slick-next {
		right: 0px;
	}
}
